<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!--Theme settings-->
       <bean id="themeResource" class="org.springframework.ui.context.support.ResourceBundleThemeSource" />
       <bean id="themeResolver" class="org.springframework.web.servlet.theme.SessionThemeResolver" >
              <property name="defaultThemeName" value="standart"/>
       </bean>
</beans>